/*
////////////////////////////////////////////////////////////////

Author: Free-Template.co
Author URL: http://free-template.co.
License: https://creativecommons.org/licenses/by/3.0/
License URL: https://creativecommons.org/licenses/by/3.0/
Site License URL: https://free-template.co/template-license/
  
Website:  https://free-template.co
Facebook: https://www.facebook.com/FreeDashTemplate.co
Twitter:  https://twitter.com/Free_Templateco
RSS Feed: https://feeds.feedburner.com/Free-templateco

////////////////////////////////////////////////////////////////
*/
/* Base */
/* Navbar */
.site-logo {
  position: relative;
  font-weight: 900;
  font-size: 1.3rem;
  text-transform: uppercase;
}

.site-logo a {
  color: #fff;
}

.site-logo a span {
  color: #f23a2e;
}

.site-navbar {
  margin-bottom: 0px;
  z-index: 1999;
  position: absolute;
  width: 100%;
}

.site-navbar .container-fluid {
  padding-left: 7rem;
  padding-right: 7rem;
}

@media (max-width: 991.98px) {
  .site-navbar .container-fluid {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.site-navbar .site-navigation.border-bottom {
  border-bottom: 1px solid #f3f3f4 !important;
}

.site-navbar .site-navigation .site-menu {
  margin-bottom: 0;
}

.site-navbar .site-navigation .site-menu .active {
  color: #f23a2e;
  display: inline-block;
  padding: 5px 20px;
}

.site-navbar .site-navigation .site-menu a {
  text-decoration: none !important;
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}

.site-navbar .site-navigation .site-menu > li > a {
  padding: 5px 20px;
  color: #fff;
  display: inline-block;
  text-decoration: none !important;
}

.site-navbar .site-navigation .site-menu > li > a:hover {
  color: #fff;
}

.site-navbar .site-navigation .site-menu .has-children {
  position: relative;
}

.site-navbar .site-navigation .site-menu .has-children > a {
  position: relative;
  padding-right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children > a:before {
  position: absolute;
  content: "\e313";
  font-size: 16px;
  top: 50%;
  right: 0;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.site-navbar .site-navigation .site-menu .has-children .dropdown {
  visibility: hidden;
  opacity: 0;
  top: 100%;
  position: absolute;
  text-align: left;
  border-top: 2px solid #f23a2e;
  -webkit-box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
          box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.1);
  border-left: 1px solid #edf0f5;
  border-right: 1px solid #edf0f5;
  border-bottom: 1px solid #edf0f5;
  padding: 0px 0;
  margin-top: 20px;
  margin-left: 0px;
  background: #fff;
  -webkit-transition: 0.2s 0s;
  transition: 0.2s 0s;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top {
  position: absolute;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  bottom: 100%;
  left: 20%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown.arrow-top:before {
  border-color: rgba(136, 183, 213, 0);
  border-bottom-color: #fff;
  border-width: 10px;
  margin-left: -10px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown a {
  text-transform: none;
  letter-spacing: normal;
  -webkit-transition: 0s all;
  transition: 0s all;
  color: #343a40;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown .active > a {
  color: #f23a2e !important;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li {
  list-style: none;
  padding: 0;
  margin: 0;
  min-width: 200px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a {
  padding: 9px 20px;
  display: block;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li > a:hover {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > a:before {
  content: "\e315";
  right: 20px;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > .dropdown, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children > ul {
  left: 100%;
  top: 0;
}

.site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:active > a, .site-navbar .site-navigation .site-menu .has-children .dropdown > li.has-children:focus > a {
  background: #f4f5f9;
  color: #25262a;
}

.site-navbar .site-navigation .site-menu .has-children:hover > a, .site-navbar .site-navigation .site-menu .has-children:focus > a, .site-navbar .site-navigation .site-menu .has-children:active > a {
  color: #f23a2e;
}

.site-navbar .site-navigation .site-menu .has-children:hover, .site-navbar .site-navigation .site-menu .has-children:focus, .site-navbar .site-navigation .site-menu .has-children:active {
  cursor: pointer;
}

.site-navbar .site-navigation .site-menu .has-children:hover > .dropdown, .site-navbar .site-navigation .site-menu .has-children:focus > .dropdown, .site-navbar .site-navigation .site-menu .has-children:active > .dropdown {
  -webkit-transition-delay: 0s;
          transition-delay: 0s;
  margin-top: 0px;
  visibility: visible;
  opacity: 1;
}

.site-navbar .site-navigation .site-menu.site-menu-dark > li > a {
  color: #000;
}

.site-mobile-menu {
  width: 300px;
  position: fixed;
  right: 0;
  z-index: 2000;
  padding-top: 20px;
  background: #fff;
  height: calc(100vh);
  -webkit-transform: translateX(110%);
          transform: translateX(110%);
  -webkit-box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
          box-shadow: -10px 0 20px -10px rgba(0, 0, 0, 0.1);
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.offcanvas-menu .site-mobile-menu {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.site-mobile-menu .site-mobile-menu-header {
  width: 100%;
  float: left;
  padding-left: 20px;
  padding-right: 20px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close {
  float: right;
  margin-top: 8px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span {
  font-size: 30px;
  display: inline-block;
  padding-left: 10px;
  padding-right: 0px;
  line-height: 1;
  cursor: pointer;
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-close span:hover {
  color: #25262a;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo {
  float: left;
  margin-top: 10px;
  margin-left: 0px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a {
  display: inline-block;
  text-transform: uppercase;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a img {
  max-width: 70px;
}

.site-mobile-menu .site-mobile-menu-header .site-mobile-menu-logo a:hover {
  text-decoration: none;
}

.site-mobile-menu .site-mobile-menu-body {
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  position: relative;
  padding: 0 20px 20px 20px;
  height: calc(100vh - 52px);
  padding-bottom: 150px;
}

.site-mobile-menu .site-nav-wrap {
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
}

.site-mobile-menu .site-nav-wrap a {
  padding: 10px 20px;
  display: block;
  position: relative;
  color: #212529;
}

.site-mobile-menu .site-nav-wrap a:hover {
  color: #f23a2e;
}

.site-mobile-menu .site-nav-wrap li {
  position: relative;
  display: block;
}

.site-mobile-menu .site-nav-wrap li .active {
  color: #f23a2e;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse {
  position: absolute;
  right: 0px;
  top: 10px;
  z-index: 20;
  width: 36px;
  height: 36px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:hover {
  background: #f8f9fa;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse:before {
  font-size: 12px;
  z-index: 20;
  content: "\f078";
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%) rotate(-180deg);
          transform: translate(-50%, -50%) rotate(-180deg);
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.site-mobile-menu .site-nav-wrap .arrow-collapse.collapsed:before {
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.site-mobile-menu .site-nav-wrap > li {
  display: block;
  position: relative;
  float: left;
  width: 100%;
}

.site-mobile-menu .site-nav-wrap > li > a {
  padding-left: 20px;
  font-size: 20px;
}

.site-mobile-menu .site-nav-wrap > li > ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.site-mobile-menu .site-nav-wrap > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > a {
  padding-left: 40px;
  font-size: 16px;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul {
  padding: 0;
  margin: 0;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li {
  display: block;
}

.site-mobile-menu .site-nav-wrap > li > ul > li > ul > li > a {
  font-size: 16px;
  padding-left: 60px;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] {
  float: left;
  width: 100%;
  margin-top: 30px;
  padding-bottom: 5em;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li {
  width: auto;
}

.site-mobile-menu .site-nav-wrap[data-class="social"] > li:first-child a {
  padding-left: 15px !important;
}

.sticky-wrapper {
  position: absolute;
  z-index: 100;
  width: 100%;
}

.sticky-wrapper + .site-blocks-cover {
  margin-top: 96px;
}

.sticky-wrapper .site-navbar {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

.sticky-wrapper .site-navbar .site-menu-toggle > span:before {
  color: #fff !important;
}

.sticky-wrapper .site-navbar .site-menu > li {
  display: inline-block;
}

.sticky-wrapper .site-navbar .site-menu > li > a.active {
  color: #fff;
  position: relative;
}

.sticky-wrapper .site-navbar .site-menu > li > a.active:after {
  height: 2px;
  background: #fff;
  content: "";
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
}

.sticky-wrapper.is-sticky .site-navbar {
  -webkit-box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
          box-shadow: 4px 0 20px -5px rgba(0, 0, 0, 0.2);
  background: #fff;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu-toggle > span:before {
  color: #000 !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-logo a {
  color: #000;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li {
  display: inline-block;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a {
  padding: 5px 20px;
  color: #000;
  display: inline-block;
  text-decoration: none !important;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a:hover {
  color: #f23a2e;
}

.sticky-wrapper.is-sticky .site-navbar .site-menu > li > a.active:after {
  background: #f23a2e;
}

.sticky-wrapper .shrink {
  padding-top: 10px !important;
  padding-bottom: 10px !important;
}

/* Blocks */
@font-face {
  font-family: 'KOMACON';
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/KOMACON.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  overflow-x: hidden;
}

body {
  line-height: 1.7;
  font-size: 1.1rem;
  color: #989898;
  font-family: KOMACON !important;
  word-break: keep-all;
}

::-moz-selection {
  background: #000;
  color: #fff;
}

::selection {
  background: #000;
  color: #fff;
}

a {
  -webkit-transition: .3s all ease;
  transition: .3s all ease;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5,
.h1, .h2, .h3, .h4, .h5 {
  color: #000;
}

.border-2 {
  border-width: 2px;
}

.text-black {
  color: #000 !important;
}

.bg-black {
  background: #000 !important;
}

.color-black-opacity-5 {
  color: rgba(0, 0, 0, 0.5);
}

.color-white-opacity-5 {
  color: rgba(255, 255, 255, 0.5);
}

.site-wrap:before {
  display: none;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
  background: rgba(0, 0, 0, 0.6);
  content: "";
  position: absolute;
  z-index: 2000;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
}

.offcanvas-menu .site-wrap {
  height: 100%;
  width: 100%;
  z-index: 2;
}

.offcanvas-menu .site-wrap:before {
  opacity: 1;
  visibility: visible;
}

.btn {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: +00;
  border-width: 2px;
}

.btn:hover, .btn:active, .btn:focus {
  outline: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.btn.btn-primary:hover {
  border-color: #f23a2e;
  background: #f23a2e;
  color: #fff;
}

.btn.btn-black {
  border-width: 2px;
  border-color: #000;
  background: #000;
  color: #fff;
}

.btn.btn-black:hover {
  color: #000;
  background-color: transparent;
}

.btn.btn-black.btn-outline-black {
  color: #000;
  background-color: transparent;
}

.btn.btn-black.btn-outline-black:hover {
  border-color: #000;
  background: #000;
  color: #fff;
}

.btn.btn-white {
  border-width: 2px;
  border-color: #fff;
  background: #fff;
  color: #000;
}

.btn.btn-white:hover {
  color: #fff;
  background-color: transparent;
}

.btn.btn-white.btn-outline-white {
  color: #fff;
  background-color: transparent;
}

.btn.btn-white.btn-outline-white:hover {
  border-color: #fff;
  background: #fff;
  color: #000;
}

.btn.btn-outline-white {
  background: transparent;
  border-color: #fff;
  color: #fff;
}

.btn.btn-outline-white:hover {
  background: #fff;
  border-color: #fff;
  color: #000;
}

.line-height-1 {
  line-height: 1 !important;
}

.bg-black {
  background: #000;
}

.form-control {
  height: 50px;
  border-radius: 0px;
  background: none;
  border-width: 2px;
}

.form-control:active, .form-control:focus {
  border-color: #f23a2e;
  background: none;
}

.form-control:hover, .form-control:active, .form-control:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.site-section {
  padding-top: 2.5rem;
}

@media (min-width: 768px) {
  .site-section {
    padding-top: 3.5rem;
  }
}

.site-section.site-section-sm {
  padding-top: 3.5em;
}

.site-section-heading {
  padding-bottom: 20px;
  margin-bottom: 0px;
  position: relative;
  font-size: 2.5rem;
}

@media (min-width: 768px) {
  .site-section-heading {
    font-size: 3rem;
  }
}

.border-top {
  border-top: 1px solid #edf0f5 !important;
}

.site-footer {
  padding: 4em 0;
}

@media (min-width: 768px) {
  .site-footer {
    padding: 8em 0;
  }
}

.site-footer p {
  color: #737373;
}

.site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5 {
  color: #fff;
}

.site-footer a {
  color: #999999;
}

.site-footer a:hover {
  color: black;
}

.site-footer ul li {
  margin-bottom: 10px;
}

.site-footer .footer-heading {
  font-size: 16px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 900;
}

.bg-text-line {
  display: inline;
  background: #000;
  -webkit-box-shadow: 20px 0 0 #000, -20px 0 0 #000;
          box-shadow: 20px 0 0 #000, -20px 0 0 #000;
}

.text-white-opacity-05 {
  color: rgba(255, 255, 255, 0.5);
}

.text-black-opacity-05 {
  color: rgba(0, 0, 0, 0.5);
}

.hover-bg-enlarge {
  overflow: hidden;
  position: relative;
}

@media (max-width: 991.98px) {
  .hover-bg-enlarge {
    height: auto !important;
  }
}

.hover-bg-enlarge > div {
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .8s all ease-in-out;
  transition: .8s all ease-in-out;
}

.hover-bg-enlarge:hover > div, .hover-bg-enlarge:focus > div, .hover-bg-enlarge:active > div {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

@media (max-width: 991.98px) {
  .hover-bg-enlarge .bg-image-md-height {
    height: 300px !important;
  }
}

.bg-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.bg-image.overlay {
  position: relative;
}

.bg-image.overlay:after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
}

.bg-image > .container {
  position: relative;
  z-index: 1;
}

@media (max-width: 991.98px) {
  .img-md-fluid {
    max-width: 100%;
  }
}

@media (max-width: 991.98px) {
  .display-1, .display-3 {
    font-size: 3rem;
  }
}

.play-single-big {
  width: 90px;
  height: 90px;
  display: inline-block;
  border: 2px solid #fff;
  color: #fff !important;
  border-radius: 50%;
  position: relative;
  -webkit-transition: .3s all ease-in-out;
  transition: .3s all ease-in-out;
}

.play-single-big > span {
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-40%, -50%);
          transform: translate(-40%, -50%);
}

.play-single-big:hover {
  width: 120px;
  height: 120px;
}

.overlap-to-top {
  margin-top: -150px;
}

.ul-check {
  margin-bottom: 50px;
}

.ul-check li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 15px;
  line-height: 1.5;
}

.ul-check li:before {
  left: 0;
  font-size: 20px;
  top: -.3rem;
  content: "\e5ca";
  position: absolute;
}

.ul-check.white li:before {
  color: #fff;
}

.ul-check.success li:before {
  color: #8bc34a;
}

.ul-check.primary li:before {
  color: #f23a2e;
}

.select-wrap, .wrap-icon {
  position: relative;
}

.select-wrap .icon, .wrap-icon .icon {
  position: absolute;
  right: 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 22px;
}

.select-wrap select, .wrap-icon select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
}

.section-heading .subheading {
  color: #ababab;
  font-size: 1.2rem;
}

.section-heading .heading {
  color: #000;
  font-size: 2.5rem;
  font-weight: 900;
}

.footer-section {
  padding-top: 12rem !important;
}

header.masthead {
  position: relative;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(73, 80, 87, 0.7)), to(rgba(73, 80, 87, 0.55))), url("../images/mast-bg-m.png");
  background-image: linear-gradient(to bottom, rgba(73, 80, 87, 0.7) 0%, rgba(73, 80, 87, 0.55) 100%), url("../images/mast-bg-m.png");
  z-index: 11;
}

@media (min-width: 768px) {
  header.masthead {
    z-index: 9;
    background-image: none;
  }
}

header.masthead > .container {
  z-index: 10;
  position: relative;
}

header.masthead,
header.masthead .container .row {
  padding-top: 3rem;
  min-height: 70vh;
}

@media (min-width: 768px) {
  header.masthead,
  header.masthead .container .row {
    height: 100vh;
  }
}

header.masthead:before {
  content: "";
  position: absolute;
  background: #ccc;
  border-bottom-right-radius: 0;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (max-width: 991.98px) {
  header.masthead:before {
    width: 100%;
  }
}

header.masthead:after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1;
}

header.masthead h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #fff;
}

@media (max-width: 991.98px) {
  header.masthead h1 {
    font-size: 2rem;
  }
}

header.masthead .desc {
  color: white;
  font-size: 1.4rem;
  max-width: 700px;
}

header.masthead a {
  color: #fff;
  text-decoration: underline;
}

header.masthead a:hover {
  text-decoration: none;
}

header.masthead .btn {
  text-decoration: none;
}

#why {
  padding: 7rem 0;
  position: relative;
  background-image: url("../images/why/why-bg-m.png");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

#why .overlay {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.7)), to(rgba(90, 90, 90, 0.55)));
  background-image: linear-gradient(to bottom, rgba(90, 90, 90, 0.7) 0%, rgba(90, 90, 90, 0.55) 100%);
}

#why h3 {
  color: white;
  font-size: 25px;
}

#why h2 {
  color: white;
  font-size: 40px;
  margin-top: 0;
}

#why p {
  font-size: 18px;
}

#why b {
  font-weight: 900 !important;
}

#why u {
  text-decoration: none;
  padding-bottom: 3px;
  border-bottom: 3px solid #f23a2e;
}

#why .badges .badge-link {
  display: block;
  margin-bottom: 25px;
}

#why .badges .badge-link:last-child {
  margin-bottom: 0;
}

#why .badges .badge-link img {
  height: 60px;
}

@media (min-width: 768px) {
  #why .badges .badge-link {
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (min-width: 768px) {
  #why h2 {
    font-size: 50px;
  }
  #why p {
    font-size: 20px;
  }
}

@media (min-width: 999px) {
  #why {
    background-image: url("../images/why/why_bg.png");
  }
  #why h3 {
    font-size: 35px;
  }
  #why h2 {
    font-size: 70px;
  }
}

#why .schedule-wrap {
  padding: 40px;
  background: #f23a2e;
  max-width: 700px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9;
  color: white;
}

@media (min-width: 768px) {
  #why .schedule-wrap {
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

#why .schedule-wrap:before {
  content: "";
  position: absolute;
  display: block;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  background: inherit;
  -webkit-transform-origin: bottom left;
  transform-origin: bottom left;
  -webkit-transform: skew(-12deg, 0deg);
  transform: skew(-12deg, 0deg);
}

@media (min-width: 768px) {
  #why .schedule-wrap:before {
    width: 100%;
  }
}

#why .schedule-wrap strong {
  color: #fff;
  font-weight: bold;
}

#why .schedule-wrap .cta a {
  text-align: center;
  padding: 10px 20px;
}

#why .schedule-wrap .cta a .arrow {
  font-size: 1.2rem;
  position: relative;
  top: 3px;
}

#features {
  padding-top: 5rem;
}

#features .ftco-feature-1 {
  text-align: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #fff;
}

#features .ftco-feature-1 .icon {
  font-size: 70px;
  color: #f23a2e;
}

#features .ftco-feature-1 .ftco-feature-1-text {
  padding: 30px;
}

#features .ftco-feature-1 h2 {
  font-size: 20px;
  font-weight: bold;
}

#features .ftco-feature-1 p {
  color: #989898;
}

#features .ftco-feature-1.active, #features .ftco-feature-1:hover {
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
}

#videos {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

#videos .class-item {
  border-radius: 4px;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
          box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  z-index: 1;
}

#videos .class-item .class-item-thumbnail {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 120px;
          flex: 0 0 120px;
}

#videos .class-item .class-item-thumbnail img {
  max-width: 200px;
  border-radius: 4px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  margin-right: 15px;
}

#videos .class-item .class-item-text h2 {
  font-size: 18px;
  margin-bottom: 0;
}

#videos .class-item .class-item-text h2 a {
  color: #000;
}

#videos .class-item .class-item-text p,
#videos .class-item .class-item-text span {
  color: #aeaeae;
}

#videos .class-item .class-item-text span {
  font-size: 16px;
}

#videos .class-item:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  z-index: 2;
  background: #f23a2e;
}

#videos .class-item:hover h2 a {
  color: #fff;
}

#videos .class-item:hover p,
#videos .class-item:hover span {
  color: #ff7c67;
}

.videos-modal .modal-dialog {
  margin: 1rem;
  max-width: 100vw;
}

.videos-modal .modal-content {
  padding: 100px 0;
  text-align: center;
}

.videos-modal .modal-content h2 {
  font-size: 3em;
  margin-bottom: 15px;
}

.videos-modal .modal-content p {
  margin-bottom: 30px;
}

.videos-modal .modal-content p.item-intro {
  font-size: 16px;
  font-style: italic;
  margin: 20px 0 30px;
}

.videos-modal .modal-content ul.list-inline {
  margin-top: 0;
  margin-bottom: 30px;
}

.videos-modal .modal-content img {
  margin-bottom: 30px;
}

.videos-modal .modal-content button {
  cursor: pointer;
  margin-top: 50px;
}

.videos-modal .close-modal {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 75px;
  height: 75px;
  cursor: pointer;
  background-color: transparent;
}

.videos-modal .close-modal:hover {
  opacity: 0.3;
}

.videos-modal .close-modal .lr {
  /* Safari and Chrome */
  z-index: 1051;
  width: 1px;
  height: 75px;
  margin-left: 35px;
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  background-color: #c5c5c5;
}

.videos-modal .close-modal .lr .rl {
  /* Safari and Chrome */
  z-index: 1052;
  width: 1px;
  height: 75px;
  /* IE 9 */
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background-color: #c5c5c5;
}

#download {
  position: relative;
  padding: 250px 0;
  background-image: url("../images/install.png");
  background-size: auto;
  background-position-x: 50%;
  background-repeat: no-repeat;
}

@media (min-width: 999px) {
  #download {
    background-size: cover;
  }
}

#download .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(90, 90, 90, 0.7)), to(rgba(90, 90, 90, 0.55)));
  background-image: linear-gradient(to bottom, rgba(90, 90, 90, 0.7) 0%, rgba(90, 90, 90, 0.55) 100%);
}

#download .download-content {
  position: relative;
  z-index: 1;
}

#download .download-content h2 {
  font-size: 35px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 25px;
  color: white;
}

#download .download-content h3 {
  font-size: 25px;
  margin-bottom: 25px;
  font-weight: 500;
  color: white;
}

@media (min-width: 768px) {
  #download .download-content h2 {
    font-size: 50px;
  }
  #download .download-content h3 {
    font-size: 35px;
  }
}

#download .btn-xl {
  font-size: 18px !important;
}

#partners {
  padding-top: 5rem;
}

#partners .ftco-feature-1 {
  text-align: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #fff;
}

#partners .ftco-feature-1 .icon {
  font-size: 70px;
  color: #f23a2e;
}

#partners .ftco-feature-1 .ftco-feature-1-text {
  padding: 30px;
}

#partners .ftco-feature-1 h2 {
  font-size: 20px;
  font-weight: bold;
}

#partners .ftco-feature-1 p {
  color: #989898;
}

#partners .ftco-feature-1.active, #partners .ftco-feature-1:hover {
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
}

#partners .block-13 .owl-nav {
  display: none;
}

#partners .block-13 .owl-stage {
  padding-bottom: 2rem;
}

#partners .block-13 .owl-dots {
  display: none;
}

#blog {
  padding-top: 5rem;
}

#blog .ftco-feature-1 {
  text-align: center;
  -webkit-transition: 0.3s all ease;
  transition: 0.3s all ease;
  background: #fff;
}

#blog .ftco-feature-1 .icon {
  font-size: 70px;
  color: #f23a2e;
}

#blog .ftco-feature-1 .ftco-feature-1-text {
  padding: 30px;
}

#blog .ftco-feature-1 h2 {
  font-size: 20px;
  font-weight: bold;
}

#blog .ftco-feature-1 p {
  color: #989898;
}

#blog .ftco-feature-1.active, #blog .ftco-feature-1:hover {
  -webkit-box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 20px -5px rgba(0, 0, 0, 0.1);
}

#blog .block-14 .owl-nav {
  display: none;
}

#blog .block-14 .owl-stage {
  padding-bottom: 2rem;
}

#blog .block-14 .owl-dots {
  display: none;
}

#blog .post {
  position: relative;
  width: 100%;
  display: block;
  overflow: hidden;
  z-index: 0;
  margin-bottom: 50px;
}

#blog .post .img {
  position: relative;
  overflow: hidden;
  border: 2px solid rgba(231, 231, 231, 0.7);
  border-radius: 0px;
  -webkit-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
  box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
}

#blog .post img {
  z-index: -1;
}

#blog .post .text {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em 0;
  background: rgba(255, 255, 255, 0.9);
  background: #6c757d;
  opacity: .7;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

#blog .post .text .price {
  background: #f23a2e;
}

#blog .post .text:hover, #blog .post .text:focus {
  padding: 50% 0;
}

@media screen and (prefers-reduced-motion: reduce) {
  #blog .post .text {
    -webkit-transition: none;
    transition: none;
  }
}

#blog .post .text span {
  font-weight: 500;
  font-size: 13px;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.8);
}

#blog .post .text a {
  color: #fff;
}

#blog .post .text a:hover, #blog .post .text a:focus {
  text-decoration: none;
  padding-top: 50%;
}

#blog .post .text h3 {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
}

#blog .post .text div {
  color: #fff;
  text-align: right;
}

#contact {
  padding: 5rem 0;
}

#contact .contact-wrap {
  padding-bottom: 8rem !important;
}

#contact .schedule-wrap2 {
  padding: 40px;
  background: #f23a2e;
  width: 40%;
  position: absolute;
  z-index: 9;
  right: 0;
  color: white;
}

#contact .schedule-wrap2:before {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  z-index: -1;
  background: inherit;
  -webkit-transform-origin: bottom right;
  transform-origin: bottom right;
  -webkit-transform: skew(12deg, 0deg);
  transform: skew(12deg, 0deg);
}

#contact .schedule-wrap2 strong {
  color: #fff;
  font-weight: bold;
}

#contact .schedule-wrap2 .cta a {
  text-align: center;
  padding: 10px 20px;
}

#contact .schedule-wrap2 .cta a .arrow {
  font-size: 1.2rem;
  position: relative;
  top: 3px;
}
