#blog {
    padding-top: 5rem;

    .ftco-feature-1 {
        text-align: center;
        transition: 0.3s all ease;
        background: $white;
        .icon {
            font-size: 70px;
            color: $primary;
        }
        .ftco-feature-1-text {
            padding: 30px;
        }
        h2 {
            font-size: 20px;
            font-weight: bold;
        }
        p {
            color: rgb(152, 152, 152);
        }
        &.active,
        &:hover {
            box-shadow: 0 0 20px -5px rgba($black, .1);
        }
    }
    
    
    
    .block-14 {
        .owl-nav {
            display: none;
        }
    
        .owl-stage {
            padding-bottom: 2rem;
        }
        .owl-dots {
            display: none;
        }
    }

    .post {
        position: relative;
        width: 100%;
        display: block;
        overflow: hidden;
        z-index: 0;
        margin-bottom: 50px;
    
        .img {
            position: relative;
            overflow: hidden;
            border: 2px solid rgba(231, 231, 231, 0.7);
            @include border-radius(0px);
            -webkit-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
            -moz-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
            box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
        }
    
        img {
            z-index: -1;
        }
    
        .text {
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            padding: 1em 0;
            background: rgba(255, 255, 255, .9);
            background: $secondary;
            opacity: .7;
            .price {
                background: $primary;
            }
            &:hover,
            &:focus {
                padding: 50% 0;
            }
            @include transition(.6s);
    
            span {
                font-weight: 500;
                font-size: 13px;
                text-transform: uppercase;
                letter-spacing: 2px;
                color: rgba(255, 255, 255, .8);
            }
    
            a {
                color: $white;
    
                &:hover,
                &:focus {
                    text-decoration: none;
                    padding-top: 50%;
                }
            }
    
            h3 {
                color: $white;
                font-size: 20px;
                font-weight: 600;
                margin-bottom: 0;
            }
    
            div {
                color: $white;
                text-align: right;
            }
        }
    }
}