header.masthead {
    position: relative;
    background-image: linear-gradient(to bottom, #{fade-out($gray-700, .3)} 0%, #{fade-out($gray-700, .45)} 100%),
    url('../images/mast-bg-m.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 11;

    @media (min-width: 768px) {
        z-index: 9;
        //background-image: none;
    }

    >.container {
        z-index: 10;
        position: relative;

    }

    &,
    .container .row {
        padding-top: 3rem;
        min-height: 70vh;

        @media (min-width: 768px) {
            height: 100vh;
        }
    }

    &:before {
        content: "";
        position: absolute;
        background: #ccc;
        border-bottom-right-radius: 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        @include media-breakpoint-down(md) {
            width: 100%;
        }
    }

    &:after {
        content: "";
        position: absolute;
        background-color: rgba($black, .5);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
    }

    h1 {
        font-size: 4rem;
        font-weight: 900;
        color: $white;

        @include media-breakpoint-down(md) {
            font-size: 2rem;
        }
    }

    .desc {
        color: rgba(255, 255, 255, 1);
        font-size: 1.4rem;
        max-width: 700px;

    }

    a {
        color: $white;
        text-decoration: underline;

        &:hover {
            text-decoration: none;
        }
    }

    .btn {
        text-decoration: none;
    }
}