.schedule-wrap2 {

    padding: 40px;
    background: $primary;
    width: 50%;
    position: absolute;
    z-index: 9;
    right: 0;
    color: rgba($white, 1);
    transform: translateY(-50%);
    @include media-breakpoint-down(md) {
        width: 90%;
    }
    &:before {
        content: "";
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
        background: inherit;
        -webkit-transform-origin: bottom right;
        transform-origin: bottom right;
        -webkit-transform: skew(12deg,0deg);
        transform: skew(12deg,0deg);
    }
    strong {
        color: $white;
        font-weight: bold;
    }

    .cta {
        a {
            text-align: center;
            padding: 10px 20px;
            .arrow {
                font-size: 1.2rem;
                position: relative;
                top: 3px;
            }
        }
    }
}

.post {
	position: relative;
	width: 100%;
	display: block;
	overflow: hidden;
	z-index: 0;
	margin-bottom: 50px;

	.img {
		position: relative;
		overflow: hidden;
		border: 2px solid rgba(231, 231, 231, 0.7);
		@include border-radius(0px);
		-webkit-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
		-moz-box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
		box-shadow: 0px 42px 29px -31px rgba(0, 0, 0, 0.05);
	}

	img {
		z-index: -1;
	}

	.text {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		padding: 1em 0;
		background: rgba(255, 255, 255, .9);
		background: $secondary;
		opacity: .7;
		.price {
			background: $primary;
		}
		&:hover,
		&:focus {
			padding: 50% 0;
		}
		@include transition(.6s);

		span {
			font-weight: 500;
			font-size: 13px;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: rgba(255, 255, 255, .8);
		}

		a {
			color: $white;

			&:hover,
			&:focus {
				text-decoration: none;
				padding-top: 50%;
			}
		}

		h3 {
			color: $white;
			font-size: 20px;
			font-weight: 600;
			margin-bottom: 0;
		}

		div {
			color: $white;
			text-align: right;
		}
	}
}


.ftco-feature-1 {
    text-align: center;
    transition: 0.3s all ease;
    background: $white;
    .icon {
        font-size: 70px;
        color: $primary;
    }
    .ftco-feature-1-text {
        padding: 30px;
    }
    h2 {
        font-size: 20px;
        font-weight: bold;
    }
    p {
        color: rgb(152, 152, 152);
    }
    &.active,
    &:hover {
        box-shadow: 0 0 20px -5px rgba($black, .1);
    }
}

.block-13 {
    .owl-nav {
        display: none;
    }

    .owl-stage {
        padding-bottom: 2rem;
    }
    .owl-dots {
        display: none;
    }
}

.block-14 {
    .owl-nav {
        display: none;
    }

    .owl-stage {
        padding-bottom: 2rem;
    }
    .owl-dots {
        display: none;
    }
}

.section-heading {
    .subheading {
        color: rgb(171, 171, 171);
        font-size: 1.2rem;
    }
    .heading {
        color: $black;
        font-size: 2.5rem;
        font-weight: 900;
    }
}

.class-item {
    border-radius: 4px;
    box-shadow: 0 5px 20px 0 rgba($black, .1);
    overflow: hidden;
    margin-bottom: 30px;
    position: relative;
    transition: 0.3s all ease;
    z-index: 1;
    .class-item-thumbnail {
        flex: 0 0 120px;
        img {
            max-width: 100px;
            border-radius: 4px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
    }
    .class-item-text {
        h2 {
            font-size: 18px;
            margin-bottom: 0;
            a {
                color: $black;
            }
        }
        p,
        span {
            color: rgb(174, 174, 174);
        }
        span {
            font-size: 16px;
        }
    }
    &:hover {
        transform: scale(1.2);
        z-index: 2;
        background: $primary;
        h2 {
            a {
                color: $white;
            }
        }
        p,
        span {
            color: #ff7c67;
        }
    }
}

.days {
    width: 100%;
    padding: 0;
    margin: 0 0 50px;
    li {
        text-align: center;
        display: inline-block;
        width: 14.25%;
        a {
            background: #eee;
            padding: 10px;
            display: block;
            &.active,
            &:hover {
                background: $primary;
                color: $white;
            }

        }
    }
}




.bgimg {
    background-image: url('../images/install.png');
    background-size: auto;
    background-position-x: 50%;
    background-repeat: no-repeat;
    @media (min-width: 999px) { 
        background-size: cover;
    }
    &,
    .container .row {
        height: 500px;
    }
}

.footer-section {
    padding: 7em 0;
    p {
        font-size: 1rem;
    }
    h3 {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        text-transform: uppercase;
        color: $white;
        margin-bottom: 1.5rem;
        font-weight: 900;
    }

    .footer-links {
        li {
            margin-bottom: 10px;
        }
    }
}

.person {
    img {
        max-width: 100px;
        border-radius: 50%;
        margin-bottom: 30px;
    }
    .position {
        color: #ccc;
        margin-bottom: 20px;
        text-transform: uppercase;
        font-size: 13px;
        font-weight: bold;
    }
    h3 {
        font-size: 18px;
        font-weight: bold;
    }
    p {
        font-size: 15px;
    }
}

#contact-section {
    .form-control {
        background: $white;
    }
}

.contact-wrap {
    padding-bottom: 8rem !important;
}
.footer-section {
    padding-top: 12rem !important;
}
